:root{
  --header-color:#7f7f7f;
  --heading-color:#000;
  --text-color:#4a4b4c;
  --text-small-color:#5e5f61;
  }
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

*:focus {
  outline: 2px dashed #7296ec;
  outline-offset: 3px;
}

/* HEADER  */
.header {
  background-color: #f6f6f6;
  padding: 30px 0;
}

.header__content {
  display: flex;
  align-items: center;
}

.currently__rate--wrapper {
  margin-right: auto;
}

.header__logo--link {
  display: flex;
  text-decoration: none;
  margin-right: 35px;
}

.header__logo {
  width: 276px;
  height: 45px;
  object-fit: contain;
}

.currently__rate {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #555;
}

.currently__rate:not(:last-child) {
  margin-right: 35px;
}

.currently__rate b {
  font-weight: 900;
  color: #2959ce;
}

.search__form {
  margin-right: 25px;
}

.search__input {
  border: 0;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 41px;
  border-radius: 60px;
  background-image: url(../img/Mask.png);
  background-repeat: no-repeat;
  background-position: 15px center;
}

.language__toggler {
  padding: 3px;
  display: flex;
  align-items: center;
  background-color: #dce6ff;
  border-radius: 39px;
  margin-right: 25px;
  cursor: pointer;
}

.language {
  font-size: 13px;
  line-height: normal;
  color:var(--heading-color);
  font-weight: 400;
  padding: 7px;
}

.language__uz {
  background-color: #fff;
  border-radius: 50%;
}

.language__ru {
  color: #a6a6a6;
}

.button {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  background-color: #7296ce;
  text-decoration: none;
  border-radius: 10px;
  padding: 13px 20px;
}

/* SITENAV  */
.sitenav {
  padding-top: 30px;
  padding-bottom: 40px;
}

.image {
  margin-bottom: 50px;
}

.sietnav__list {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  border-bottom: 1px solid #d1d1d1;
}

/* .sitenav-item:not(:last-child) {
  margin-right: 35px;
} */

.sitenav__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #4a4b4c;
}


/* ADVERTISING  */
.advertising {
  padding-bottom: 50px;
}

.advertising-link {
  display: flex;
  text-decoration: none;
}

.advertising-img {
  width: 1200px;
  height: 128px;
  object-fit: contain;
}



/* SITE-LAYOUT  */

.layout-wrapper {
  display: flex;
}

.site-layout-heading {
  margin-top: 0;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;

}

.site-layout-left-content {
  width: 100%;
  max-width: 797px;
}

.site-layout-list {

  margin: 0;
  padding: 0;
  margin-right: 10px;
  list-style-type: none;
  margin-bottom: 17px;
}

.site-layout-item {
  display: flex;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 15px;
}

.site-layout-item:not(:last-child) {
  margin-bottom: 10px;
}

.site-layout-item-img {
  width: 210px;
  height: 165px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 10px;
}

.site-layout-item-inner {
  display: flex;
  flex-direction: column;
}

.site-layout-item-heading {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
}

.site-layout-item-text {
  margin-top: 0;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 16px;
  color: #4a4b4c;
}

.site-layout-item-footer {
  display: flex;
  align-items: center;
}

.site-layout-item-footer-info {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: #5e5f61;
}

.site-layout-item-footer-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 10px;
  border-radius: 5px;
}

.site-layout-button {
  cursor: pointer;
  display: block;
  width: 100%;
  border: 0;
  margin-bottom: 100px;
  padding: 17px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
}


.main-news {
  width: 100%;
  max-width: 393px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 17px;
  padding-right: 20px;
  padding-bottom: 25px;
  border-radius: 15px;
  background: #F6F6F6;
}

.main-header-news {
  margin: 0;
  color: #000;
  font-size: 24px;
  font-family: Rubik;
  font-weight: 500;
}

.main-heading-news {
  width: 311px;
  margin-top: 0;
  color: #000;
  font-size: 18px;
  font-family: Rubik;
  font-weight: 500;
  line-height: 24px;
}

.main-small-news {
  margin-top: 0;
  color: #5E5F61;
  font-size: 13px;
  font-family: Rubik;
}

.main-line {
  margin: 0;
  margin-bottom: 20px;
  width: 359px;
  background-color: #D2D2D2;
}



/* Footer */
.footer-link {
  margin: 0;
  background-color: #7297EF;

}

.footer-div {
  width: 100%;
  max-width: 998px;
}

.footer-list-item {
  display: flex;
  margin-top: 40px;
}

.footer-list {
  margin-right: 168px;

}

.footer-word {
  width: 264px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #FFF;
  font-size: 24px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #FFFFFF;


}

.footer-word-two {
  width: 229px;
  margin: 0;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;

}

.footer-link-list {
  display: flex;
}

.footer-ul {
  margin: 0;
  padding: 0;
  padding-top: 43px;
}

.footer-ul:not(last-child) {
  margin-right: 100px;
}

.footer-ul:nth-child(2) {
  margin-right: 0;
}

.footer-link-item {
  margin-top: 0;

  text-align: left;
  list-style: none;
}

.footer-link-item:not(last-child) {
  margin-bottom: 20px;
}

.footer-link-a {
  color: #fff;
  font-size: 16px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.footer-line {
  width: 998px;
  color: #CECECE;

}

.footer-link-word {
  width: 161px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.footer-inner {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.footer-link-word {
  width: 161px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.footer-link-two:not(:last-child) {
  margin-right: 25px;
}




